<% if(success && success.length) {%>
<div
  class="d-flex bd-highlight alert alert-success alert-dismissable fade show"
  role="alert"
>
  <div class="me-auto p-2 bd-highlight"><%= success %></div>
  <div class="p-2 bd-highlight">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
<% }%> 
<% if(error && error.length) {%>
<div
  class="d-flex bd-highlight alert alert-danger alert-dismissable fade show"
  role="alert"
>
  <div class="me-auto p-2 bd-highlight"><%= error %></div>
  <div class="p-2 bd-highlight">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
<% }%>
